.schedule {
    border-collapse: collapse;
}

.xAxis {
    display: flex;
    flex-direction: row;
}

.hour {
    width: 60px;
}

.canAdd {
    border: 3px solid;
    border-color: green;
}

.cannotAdd {
    opacity: 50%;
}

.busName {
    padding: 10px;
}

.tripDisplay {
    height: 40px;
    width: 600px;
    position: relative;
}

.asphalt {
    background-color: lightgray;
}

.roadLine {
    border-bottom: 1px dashed yellow;
    width: 100%;
}



